html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.bg {
        background-image: url("../resources/Forsaken.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

img {
	padding: 0;
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}
